//  ========================================
//  Bronova
//  ========================================
@font-face {
    font-family: 'Bronova';
    src: url('~@/assets/fonts/Bronova/Bronova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bronova';
    src: url('~@/assets/fonts/Bronova/Bronova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
//  ________________________________________

//  ========================================
//  Mandatory Plaything
//  ========================================
@font-face {
    font-family: 'Mandatory Plaything';
    src: url('~@/assets/fonts/Mandatory-Plaything/Mandatory-Plaything.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
//  ________________________________________

//  ========================================
//  AKIRA EXPANDED
//  ========================================
@font-face {
    font-family: 'Akira Expanded';
    src: url('~@/assets/fonts/AkiraExpanded/AkiraExpanded-SuperBold.woff2') format('woff2'),
        url('~@/assets/fonts/AkiraExpanded/AkiraExpanded-SuperBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akira Outline';
    src: url('~@/assets/fonts/AkiraExpanded/Akira-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akira Normal';
    src: url('~@/assets/fonts/AkiraExpanded/Akira-Bold.woff') format('woff'), url('~@/assets/fonts/AkiraExpanded/Akira-Bold.woff2') format('woff2');;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
//  ________________________________________

//  ========================================
//  MONTSERRAT
//  ========================================
@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('~@/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
        url('~@/assets/fonts/Montserrat/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('~@/assets/fonts/Montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~@/assets/fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
        url('~@/assets/fonts/Montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
//  ________________________________________

//  ========================================
//  F5.6
//  ========================================
@font-face {
    font-family: 'F56';
    src: url('~@/assets/fonts/F5.6/F5.6-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/F5.6/F5.6-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
//  ________________________________________

//  ========================================
//  VT323
//  ========================================
@font-face {
    font-family: 'VT323';
    src: url('~@/assets/fonts/VT323/VT323-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/VT323/VT323-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
//  ________________________________________