//  ========================================
//  COLORS
//  ========================================
$C-darkest-purple: #0C092E;
$C-dark-purple: #27234B;
$C-purple: #643ADA;
$C-purple-variation: #5C3BBD;
$C-blue: #269AF9;
$C-light-blue: #39EAE4;
$C-blue-gradient: linear-gradient(90deg, $C-light-blue, $C-blue);
$C-blue-radial-gradient: radial-gradient(circle, rgba(38,154,249,0.8) 0%, rgba(38,154,249,0) 60%);
$C-red-radial-gradient: radial-gradient(circle, rgba(255,76,76,0.8) 0%, rgba(255, 91, 91, 0.8) 20%, rgba(255,255,255,0) 60%);
//  ________________________________________

//  ========================================
//  FONTS
//  ========================================
$F-Montserrat: 'Montserrat';
$F-F56: 'F5.6';
//  ________________________________________